<div class="modal-content">
  <div class="modal-header">
    <h4 class="modal-title"> {{ title }} </h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="onCloseModal()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
      <div class="container">
        <div class="jumbotron">
          <br>
          <!-- <div class="input-group" *ngIf="!addPeople">
            <input type="text" class="form-control" name="nameGroup" [(ngModel)]="nameGroup" placeholder="Name of Group">
          </div> -->
          <!-- <div class="input-group"> -->
            <label for="nameGroup">Name of Group</label>
            <input type="text" class="form-control" name="nameGroup" [(ngModel)]="nameGroup" placeholder="Name of Group" [disabled]="isInvalidInputName()">
          <!-- </div> -->
          <br>
          <label for="name">Search of people</label>
          <input class="form-control" type="text" name="name" [(ngModel)]="inputName" #namee="ngModel" placeholder="Search of People">
          <br>
          <label for="description">Description</label>
          <textarea class="form-control" name="description" id="description" [(ngModel)]="description" cols="50" rows="6" [disabled]="isInvalidInputName()"></textarea>
          <br>
          <div id="horizscroll">
            <div class="inlinee" *ngFor="let person of personGroupService.getPeopleToAdd(); let i = index;">
              <div class="d-flex flex-column align-items-center">
                  <div class=""><app-person-group [nameToAdd]="person.name" [person]="person" [indexPerson]="i"></app-person-group></div>
                  <div class=""><p>{{ person.user.name }}</p></div>
                  <!-- <div class=""><p>Yeagor Kryshniov Andreevich</p></div> -->
                </div>
            </div>
          </div>
          <br>
          <div class="col-xs-12">
            <ng-container *ngFor="let person of personGroupService.getPeople() | filterdontshowinstart: 'name' : inputName: 'addpeople'">
              <!-- <app-person *ngIf="checking(person.name)" style="cursor: pointer;" (click)="onChoosePerson(person)" [name]="person.name"></app-person> -->
              <app-person *ngIf="person.name !== authService.getAcc().name" style="cursor: pointer;" (click)="onChoosePerson(person)" [name]="person.name"></app-person>
            </ng-container>
          </div>
        </div>
      </div> 
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="onCloseModal()">Close</button>
    <button type="button" class="btn btn-primary" (click)="onSubmit()" [disabled]="!personGroupService.getPeopleToAdd() || personGroupService.getPeopleToAdd().length === 0">Save changes</button>
    <!-- <button type="button" class="btn btn-primary" (click)="onSubmit()">Save changes</button> -->
  </div>
</div>