<div class="modal-content">
  <div class="modal-header">
    <h4 class="modal-title">{{ title }}</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
      <!-- <h5>Yoy really want to do this</h5> -->
    <label for="description">Description</label>
    <textarea class="form-control" name="description" id="description" [(ngModel)]="description" cols="50" rows="6"></textarea>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="modalRef.hide()">Cancel</button>
    <button type="button" class="btn btn-primary" (click)="onSubmit()">Submit</button>
  </div>
</div>
