<div class="modal-content modal modal-wide" style="width: auto; max-width: 600px;">
  <div class="modal-header">
    <h4 class="modal-title">Mail Sender</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body" style="width: auto; height: auto; max-height: 100%;">
      <div class="container">
        <div class="col-xs-12">
            <form class="form">
              <fieldset class="form__fieldset">

                <legend class="form__legend">Mail for all members of the group</legend>


                <label class="form__label" for="subject"></label>
                <input class="form__input" type="text" placeholder="Subject" id="subject" name="subject" [(ngModel)]="subject" required autocomplete="off">
                <br>
                <!-- <label class="form__label" for="message"></label>
                <input class="form__input" type="text" placeholder="Message" id="message" required autocomplete="off"> -->
                <!-- <textarea class="form_input" name="" id="" cols="40" rows="10"></textarea> -->

                <textarea placeholder="Your text" id="text" name="text" rows="4" [(ngModel)]="text"></textarea>
                
                <textarea placeholder="" id="textSign" name="textSign" rows="1" [(ngModel)]="textSign" disabled></textarea>
                
                <!-- <button class="form__btn" (click)="onSend()">Send
                </button> -->

              </fieldset>
            </form>
        </div>
      </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="modalRef.hide()">Cancel</button>
    <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="onSend()">Send</button>
    <!-- <button type="button" class="btn btn-primary" (click)="onSaveImage()">Save</button> -->
  </div>
</div>
