<footer class="footer">
    <nav class="navbar navbar-default navbar-custom">
        <div class="container-fluid">
            <div class="nav navbar-nav navbar-left">
              <div class="row" (click)="onLogo()">
                <img [src]="logo" id="logoImg">
                <span>&nbsp;</span>
                <h3>ענף יסודות</h3>
              </div>
            </div>

            <div class="text-center center-block">
                
            </div>
            <div class="nav navbar-nav navbar-right">
            </div>
        </div>
    </nav>
</footer>