<ul id="hexGrid">
  <!-- <cdk-virtual-scroll-viewport style="height: 200px" itemSize="250" class="viewport"> -->
      <!-- <ng-container *ngFor="let person of people; let i = index"> -->
          <ng-container *ngFor="let person of people | filter :'name' : namePersonSearch : 'includes'; let i = index">
          <!-- <li *ngIf="checking(group.name)" class="hex"> -->
          <li class="hex">
              <a class="hexIn">
                  <img src="assets/img/guest.png" alt=""/>
                  <h1>
                      {{ person.name }}
                    </h1>
                    <p *ngIf="admin">
                        
                    <button type="button" style="left: 60px; height: 24px;" class="btn btn-danger" tooltip="Remove Him"  placement="top" (click)="onRemove(i)"><i class="fa fa-times" style="right: 6px; top: 1px; bottom: 0px;"></i></button>
                    <label class="switch">
                        <input type="checkbox" name="admin" id="admin" [checked]="person.admin" (change)="checkValue(i)">
                        <span class="slider round"></span>
                    </label>
                    </p>
                    <p *ngIf="!admin">

                    </p>
              </a>
          </li>
      </ng-container>
      
      <!-- <li *ngIf="mygroups" class="hex" (click)="onNew()">
          <a class="hexIn">
              <img src="assets/img/Plus_Sign.png" alt=""/>
              <h1>Create a new Group</h1>
              <p>Create a new Group</p>
          </a>
      </li> -->
  <!-- </cdk-virtual-scroll-viewport>     -->
</ul>