<br>
<div class="container">

    <div class="p-1 bg-light rounded rounded-pill shadow-sm mb-4">
        <div class="input-group">
          <input type="text" class="form-control border-0 bg-light" aria-describedby="button-addon1" name="namePerson" [(ngModel)]="namePerson" placeholder="Search users">
          <div class="input-group-append">
            <button id="button-addon1" type="submit" class="btn btn-link text-primary"><i class="fa fa-search"></i></button>
          </div>
        </div>
    </div>

    

</div>
<br>
<div class="row" *ngIf="groupDetailService.existGroup()">
  <div class="col-lg-12">

    <div class="container align-items-center justify-content-center">
      <div class="input-group" style="width: 475px; margin: 0 auto; float: none;" *ngIf="changeName">
        <input type="text" class="form-control" placeholder="" [value]="groupDetailService.getGroupName()" [(ngModel)]="changingName">
        <div class="input-group-prepend">
          <button class="btn btn-primary" type="button" id="savename" (click)="onSaveName(changingName)">Save Name</button>
          <button class="btn btn-danger" type="button" id="cancel" (click)="onCancelChangingName()">Cancel</button>
        </div>
      </div>
    </div>

    <h1 style="text-align: center" *ngIf="!changeName">
      <img [src]="groupDetailService.getGroupImagePath()" style="width: 50px;" alt=""/>
      <span> {{ groupDetailService.getGroupName() }}</span>
      <button class="btn btn-primary" style="margin-left: 25px;" *ngIf="admin" (click)="onChangeName()"><i class="fa fa-pencil" aria-hidden="true"></i> Change Name</button>
      <button class="btn btn-primary" style="margin-left: 25px;" *ngIf="admin" (click)="onChangAvatarGroup()"><i class="fa fa-file-image-o" aria-hidden="true"></i> Change Avatar</button>
      <button class="btn btn-primary" style="margin-left: 25px;" (click)="onSendMailForGroup()"><i class="fa fa-envelope" aria-hidden="true"></i> Send Mail</button>
    </h1>

    <hr style="border: none;
    background-color: black;
    height: 1px;">

    <div class="row">

      <div class="col-lg-9">
        <app-peoplegroup-list [namePersonSearch]="namePerson" [people]="groupDetailService.getPeople()" [admin]="admin"></app-peoplegroup-list>
      </div>
      <div class="col-lg-3">
        <div>
          <!-- <div class="row"> -->
            <label style="margin-left: 5px;"><h1>Description</h1></label>
            <button class="btn btn-warning" style="position: relative; margin-bottom: 15px; margin-left: 15px;" (click)="onChangeDescriptionGroup()">Change Description</button>
          <!-- </div> -->
          <cdk-virtual-scroll-viewport style="height: 600px;" itemSize="250" class="viewport">
            <h3>{{ description }}</h3>
          </cdk-virtual-scroll-viewport>
        </div>
      </div>
    </div>
  </div>
</div>

<button class="btn btn-danger" *ngIf="admin" style="float: right; margin-right: 20px;" (click)="onRemoveGroup()">Remove Group</button>
<button class="btn btn-danger" style="float: right; margin-right: 20px;" (click)="onLeaveFromGroup()">Leave Group</button>
