<nav class="navbar navbar-expand-lg navbar-dark">
  <div class="container-fluid">
    <div class="navbar-header">
      <div class="row">
        <a (click)="onHome()" id="home"><h2>Groups</h2></a>
        <span>&nbsp</span>
        <img id="userAvatar" [src]="authService.getAvatarPath()" alt="avatar">
        <h5 id="userName">{{ authService.getName() }}</h5>
      </div>
    </div>
    <div class="collaps navbar-collapse">
      
    </div>
    <div class="navbar-nav nav-right">
      <li class="dropdown" appDropdown #r="appDropdown" >
        <a id="btnBackgrounds" class="dropdown-toggle" role="button">Backgrounds <span class="caret"></span></a>
        <ul class="dropdown-menu dropdown-menu-right pull-right" [ngClass]="{'show':r.isOpen}">
            <ng-container *ngFor="let background of backgrounds">
              <li (click)="onChooseBackground(background)"><img class="backgrounds" src="assets/img/backgrounds/{{ background }}" alt="image"></li>
            </ng-container>
            
        </ul>
    </li>
    </div>
  </div>
</nav>