<nav class="navbar navbar-expand-lg navbar-dark">
  <div class="container-fluid">
    <div class="navbar-header">
      <div class="row">
        <a (click)="onHome()" id="home"><h2>Groups</h2></a>
        <span>&nbsp</span>
        <img style="border-radius: 50%; width: 50px; height: 50px; padding-top: 3px;" [src]="authService.getAvatarPath()" alt="avatar">
        <h5 style="color: white; padding-top: 10px;">{{ authService.getName() }}</h5>
      </div>
    </div>
    <div class="collaps navbar-collapse">
      
    </div>
    <div class="navbar-nav nav-right">
      <!-- <div class="nav-item">
      </div>
      <div class="nav-item">
      </div>
      <div class="nav-item">
      </div> -->

      <!-- <li class="dropdown" appDropdown #r="appDropdown" >
          <a style="cursor: pointer; color: white;" class="dropdown-toggle" role="button">Manage <span class="caret"></span></a>
          <ul class="dropdown-menu dropdown-menu-right pull-right" [ngClass]="{'show':r.isOpen}">
              <li><a class="dropdown-item" style="cursor: pointer;">Change background</a></li>
          </ul>
      </li> -->
      <li class="dropdown" appDropdown #r="appDropdown" >
        <a style="cursor: pointer; color: white;" class="dropdown-toggle" role="button">Backgrounds <span class="caret"></span></a>
        <ul class="dropdown-menu dropdown-menu-right pull-right" [ngClass]="{'show':r.isOpen}">
            <!-- <li><a class="dropdown-item" style="cursor: pointer;">Change background</a></li> -->
            <ng-container *ngFor="let background of backgrounds">
              <li (click)="onChooseBackground(background)"><img class="backgrounds" src="assets/img/backgrounds/{{ background }}" alt="image"></li>
            </ng-container>
            
        </ul>
    </li>
    </div>
  </div>
</nav>