.navbar {
    background-color: black;
    color: black;
}

.navbar-header a {
    color: black;
}

.nav-item a {
    color: white;
}

h2 {
    color: white;
}

h2:hover {
  color: slategrey;
}

#home:hover {
    cursor: pointer;
}