<!-- <br>
<ul id="hexGrid">
  <li class="hex">
      <a class="hexIn" href="">
          <img src="https://image.flaticon.com/icons/svg/1256/1256650.svg" alt=""/>
          <h1>Sapir</h1>
          <p>asdiasodhiosahdlkjasd</p>
      </a>
  </li>
  <li class="hex">
        <a class="hexIn" href="">
            <img src="https://vignette.wikia.nocookie.net/scribblenauts/images/9/97/Plus_Sign.png/revision/latest/scale-to-width-down/150?cb=20140409201237" alt=""/>
            <h1>Create New</h1>
            <p></p>
        </a>
  </li>
</ul> -->


<ul id="hexGrid">
<li class="hex">
    <a class="hexIn" href="#">
    <img src="assets/img/teamwork.png" alt="" />
    <!-- <img src="https://image.flaticon.com/icons/svg/1256/1256650.svg" alt="" /> -->
    <h1>Sapir</h1>
    <p>Some sample text about the article this hexagon leads to</p>
    </a>
</li>
<li class="hex">
    <a class="hexIn" href="#">
    <img src="assets/img/teamwork.png" alt="" />
    <!-- <img src="https://image.flaticon.com/icons/svg/1256/1256650.svg" alt="" /> -->
    <h1>Sapir</h1>
    <p>Some sample text about the article this hexagon leads to</p>
    </a>
</li>
<li class="hex">
    <a class="hexIn" href="#">
    <img src="assets/img/teamwork.png" alt="" />
    <!-- <img src="https://image.flaticon.com/icons/svg/1256/1256650.svg" alt="" /> -->
    <h1>Sapir</h1>
    <p>Some sample text about the article this hexagon leads to</p>
    </a>
</li>
<li class="hex">
    <a class="hexIn" href="#">
    <img src="assets/img/teamwork.png" alt="" />
    <!-- <img src="https://image.flaticon.com/icons/svg/1256/1256650.svg" alt="" /> -->
    <h1>Sapir</h1>
    <p>Some sample text about the article this hexagon leads to</p>
    </a>
</li>
<li class="hex">
    <a class="hexIn" href="#">
    <img src="assets/img/teamwork.png" alt="" />
    <!-- <img src="https://image.flaticon.com/icons/svg/1256/1256650.svg" alt="" /> -->
    <h1>Sapir</h1>
    <p>Some sample text about the article this hexagon leads to</p>
    </a>
</li>
<li class="hex">
    <a class="hexIn" href="#">
    <img src="assets/img/teamwork.png" alt="" />
    <!-- <img src="https://image.flaticon.com/icons/svg/1256/1256650.svg" alt="" /> -->
    <h1>Sapir</h1>
    <p>Some sample text about the article this hexagon leads to</p>
    </a>
</li>
<li class="hex">
    <a class="hexIn" href="#">
    <img src="assets/img/teamwork.png" alt="" />
    <!-- <img src="https://image.flaticon.com/icons/svg/1256/1256650.svg" alt="" /> -->
    <h1>Sapir</h1>
    <p>Some sample text about the article this hexagon leads to</p>
    </a>
</li>
<li class="hex">
    <a class="hexIn" href="#">
    <!-- <img src="https://vignette.wikia.nocookie.net/scribblenauts/images/9/97/Plus_Sign.png/revision/latest/scale-to-width-down/150?cb=20140409201237" alt="" /> -->
    <img src="assets/img/Plus_Sign.png" alt="" />
    <h1>Create a New Group</h1>
    <p>Some sample text about the article this hexagon leads to</p>
    </a>
</li>
</ul>