.vl {
border-left: 6px solid green;
height: 500px;
}

.line {
    transform: rotate(90deg);
    margin-top: 50%;
    border: none;
    background-color: black;
    height: 2px;
}


@media only screen and (max-width: 400px) {
    #line2 {
        display: none;
    }

    #line3 {
        display: none;
    }

    #line1 {
        transform: rotate(0deg);
        /* border: none;
        background-color: black;
        height: 2px; */
    }

    .line-list br {
        visibility: hidden;
    }
}


.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:rgb(23, 23, 24);
	color:#FFF;
	border-radius:50px;
	text-align:center;
	box-shadow: 2px 2px 3px #999;
}

.float:hover{
  color: #88b999;
}

.my-float{
	margin-top:22px;
}


    /* body,html{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background: #e74c3c !important;
    }

    .searchbar{
    margin-bottom: auto;
    margin-top: auto;
    height: 60px;
    background-color: #353b48;
    border-radius: 30px;
    padding: 10px;
    }

    .search_input{
    color: white;
    border: 0;
    outline: 0;
    background: none;
    width: 0;
    caret-color:transparent;
    line-height: 40px;
    transition: width 0.4s linear;
    }

    .searchbar:hover > .search_input{
    padding: 0 10px;
    width: 450px;
    caret-color:red;
    transition: width 0.4s linear;
    }

    .searchbar:hover > .search_icon{
    background: white;
    color: #e74c3c;
    }

    .search_icon{
    height: 40px;
    width: 40px;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color:white;
    } */

.form-control:focus {
  box-shadow: none;
}

.form-control-underlined {
  border-width: 0;
  border-bottom-width: 1px;
  border-radius: 0;
  padding-left: 0;
}

.p-1{
  padding: .35rem!important;
}

