<br>
<div class="container">
  <!-- <div class="jumbotron"> -->

  <div class="input-group">
    <input type="text" class="form-control" name="nameGroup" [(ngModel)]="nameGroup" placeholder="Search">
  </div>
  <!-- </div> -->
</div>
<hr style="border: none;
background-color: black;
height: 1px;">
<br>
<div class="row">
  <div class="col-lg-5">
    <h1 style="text-align: center">Groups Includes Me</h1>
    <app-groups-list [mygroups]="false" [groups]="groups" [nameGroupp]="nameGroup"></app-groups-list>
  </div>

  <div class="col-lg-2 line-list">
    <hr id="line1" style="border: none;
    background-color: black;
    height: 1px;" class="line">
    <br>
    <hr id="line2" style="border: none;
    background-color: black;
    height: 1px;" class="line">
    <br>
    <hr id="line3" style="border: none;
    background-color: black;
    height: 1px;" class="line">
  </div>

  <div class="col-lg-5">
    <!-- <app-hive></app-hive> -->
    <h1 style="text-align: center">My Groups</h1>
    <app-groups-list [mygroups]="true" [groups]="groupsAdmin" [nameGroupp]="nameGroup"></app-groups-list>
    <!-- <a href="#" class="float">
      <i class="fa fa-plus my-float"></i>
    </a> -->
  </div>

</div>
