<cdk-virtual-scroll-viewport style="height: 600px;" itemSize="250" class="viewport">
<ul id="hexGrid">
        <ng-container *ngFor="let group of groups | filter :['name'] : nameGroupp : 'includes'" >
            <li class="hex" (click)="onChooseGroup(group._id)">
                <a class="hexIn">
                    <img src="{{ group.imgPath }}" alt=""/>
                    <div class="circle">{{ group.people.length }}</div>
                    <div class="name">{{ group.name }}</div>
                    <h1>{{ group.name }}</h1>
                    <p>{{ group.description }}</p>
                </a>
            </li>
        </ng-container>

    </ul>
</cdk-virtual-scroll-viewport>

<a *ngIf="mygroups" href="#" class="float" disabled="" (click)="onNew()">
  <i class="fa fa-plus my-float"></i>
</a>



